@font-face {
    font-family: "Franie";
    src: url(FranieVariableTest-LightItalic-BF64c31f3db72fa.otf);
}
body {background-color: black;
display: flex;
height: 100vh;}

img {width:120px ;}

#topbar {
    
    width:95%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
font-family:"Franie";
 color: rgb(30, 215, 96);
  text-align: center;
  padding: 10px;
  position:fixed;

}

#logonome {display: flex;
align-items: center;
font-size: 40px;}
#icone {font-size: 22px;}

#sidebar {display: flex;
flex-direction: column;
margin-top: 200px;
margin-left: 43px;
width: 25%;
height: 100%;
 color: rgb(30, 215, 96);
 position:fixed;
}

#searchbar {display:flex;
align-items: center;}

#titolo {font-size: 28px;
display: flex;}

#sideicon {font-size: 30px;
display: flex;
flex-direction: column;
margin-top: 30px;
}

#home {margin-bottom: 20px;}

::placeholder{background-color: rgb(0, 0, 0);}
::placeholder {
      color: rgb(30, 215, 96);
    }

#main { margin-top: 175px;
    margin-left: 350px;
    font-family:"Franie";
    width: 800px;
    color: rgb(30, 215, 96);}

    #generi {

        display:inline-block;
        font-size: 12px;
       ;
    }

    