body {
    font-family: "Roboto", sans-serif;
    display:flex;
    height:100vh;
}
h1 {
   display: flex;
    justify-content: center;
}

#nome {font-family: "Roboto", sans-serif;
    
font-size: 25px;
height:15%;
width: 100%;
justify-content:center;
}

#sidebar {
    display:flex;
    flex-direction:column;

    height:100%;
    width:40%;
}

img{margin-top: 40px;
margin-left: 40px;}

#main {
    margin-top: 70px;
    margin-right: 40px;
    font-size:16px;
}

#hobby {
   line-height: 30px;
    font-size: 14px;
    margin-top:30px;
    margin-left:10px;
}

#tabella {
    margin-top: 50px;
    border: 2px solid black;
    th, td {
  border: medium solid rgb(0, 0, 0);
}
    }

  .formazione
{width: 50vh;}  
  
.istituto
{width:70vh;}

#sottotabella2
td, th {
  vertical-align: top;
}

#contatti
{display: flex;
    justify-content: space-between;
    margin-top: 150px;}
    